
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="hidden" name="Id" value="" />

<label for="Nome">Nome</label>
<input type="text" name="Nome" value="" />

<label for="Nome">CPF</label>
<input type="text" name="CPF" value="" />

<input type="text" name="RG" value="" />

<input type="email" name="Email" value="" />

<input type="text" name="Telefone" value="" />

<input type="date" name="DataNascimento" value="" />

<input type="text" name="CEP" value="" />

<input type="text" name="Logradouro" value="" />

<input type="text" name="Numero" value="" />

<input type="text" name="Complemento" value="" />

<input type="text" name="Bairro" value="" />

<input type="text" name="Cidade" value="" />

<select>
    <option value="value">---SELECIONE---</option>
</select>
